.market-box {
  display: flex;
  justify-content: center;
  background-color: $dark_green;

  .market-name {
    font-family: $base_font;
    font-size: 40px;
    font-weight: bolder;
    align-self: center;
    margin-top: 15px;
    margin-bottom: 40px;
    color: $neon_green;
  }
}
