.market-box {
  display: flex;
  justify-content: center;
  background-color: #81B697;

  .market-name {
    font-family: $base_font;
    font-size: 50px;
    align-self: center;
    margin-top: 15px;
    margin-bottom: 40px;
  }
}