@import "colors.scss";
@import "font.scss";
@import "Start";
@import "City";
@import "Header";
@import "Map";
@import "Tooltip";
@import "Detail";


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $base_font;
  color: white;
}


.leaflet-control-geosearch form input,
{
  color:black;
  font-size: 14px;

   .results div {
    color: black;
    font-size: 14px;
  }
}
