@import "colors.scss";
@import "font.scss";
@import "Start";
@import "City";
@import "Header";
@import "Map";
@import "Tooltip";
@import "Detail";


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $base_font;
  color: white;
}

.testDiv {
  background-color: #204969;
  color: white;
  font-size: 20px;
}

.testList {
  color: white;
  font-size: 20px;
}
ol {
  color: black;
  font-size: 20px;
}
