.leaflet-popup-content-wrapper {
  background: white;
}

.tooltip_name {
  font-family: 'Bebas Neue', cursive;
  color: #204969;
  font-size: 20px;
}

.tooltip_tip {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 15px;
  font-weight: lighter;
}

.tooltip_adres {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 15px;
  font-weight: lighter;
}
